html{
	background-image:url(7046.jpg) ;
	background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 background-attachment: fixed;
}
#titre1{
	color: white;
	font: cursive;
	position: relative;
	left: 25%;
}
ul{
		list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	 background: linear-gradient(to right, blue, darkred);
	 	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 background-attachment: fixed;
	 position: sticky;
	 top: 0 ;



}
	li a{
		float: left;
		display: block;
		color: white;
		text-decoration: none;
		padding: 10px 15px;
		text-align: center;
		border-right: 3px solid blueviolet;
		min-width:60px;
		max-width: 15% ;
		max-height: 1%;
	}
	p{
		color: white;
		border-left: 3px solid blue;
		border-right: 3px solid darkred;
	}
	#gif_galaxy{
		height: 25%;
		width: 25%;
		float: right ;
	}
	#etoiles{
		color: white;
		position: static;
		margin: 0px;
	}